@import '../../../../../shared/scss/selected_theme_variables';
.dropdown-toggle::after {
    vertical-align: 0.055em !important;
  }
  
  .dropdown-menu {
    top: rem-to-dip(-0.2rem) !important;
    border-radius: 0 0 5 5;
    width: 12em;
    left: rem-to-dip(0.9em) !important;
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: -6.9;
      left: rem-to-dip(8.7rem);
      border-left: 7 solid transparent;
      border-right: 7 solid transparent;
      border-bottom: 7 solid $gray-10;
      z-index: 3;
    }
  }
  
  .dropdown-item {
    cursor: pointer;
  }
  
  .dropdown-item.active,
  .dropdown-item:active {
    background-color: $theme-main-color;
  }
  
  .arrowalignement {
    &:before {
      left: rem-to-dip(6.2rem);
    }
  }
  
  .border-left {
    border-left: 1 solid $gray-300 !important;
  }
  
  .mobileusericon {
    margin-top: 0;
    font-size: 20;
  }
  
  .mobile-profile {
    width: 100vw;
    min-width: 101.7vw;
    left: -76.6vw !important;
    height: calc(100vh - 9vw);
    top: 10vw !important;
    &:before {
      left: 15.3rem;
      border-left: 7 solid transparent;
      border-right: 7 solid transparent;
      border-bottom: 7 solid $white;
    }
  }
  
  .dpmenu {
    position: relative;
  }
  
  .helpbtn {
    font-size: 1.2em;
    padding: 0.7rem 1.2em 0.7em 0.7em;
    border-radius: 7 7 0 0;
    margin: 0 rem-to-dip1em;
    position: relative;
    &:hover {
      background-color: $theme-main-color;
      box-shadow: 0 3 5 rgba(0, 0, 0, 0.6);
    }
  }
  
  .openhelp {
    background-color: $theme-main-color !important;
    box-shadow: 0 3 5 rgba(0, 0, 0, 0.6);
  }
  